<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>mblair-design</title>


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="fluid-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Michael Blair</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
        <div class="image-container">
          <article class="col-xs-12" id="main-image">
            <img src="http://media.istockphoto.com/photos/lighthouse-on-sunset-picture-id486899724?k=6&m=486899724&s=170667a&w=0&h=Z5lofXqTJZUqp2BG797AQZsL1PH3WpqK2FffnUPXYq0=" alt="natural beauty">
          </article>
        </div>
        <div class="project-form" id="projectTarget">
          <div class="row">
            <article class="col-sm-12 projects-title">
              <p>Projects</p>
            </article>
          </div>
          <!-- project list goes here -->
          <div class="row">
            <div class="project-box">
              <section class="project-title">
                <!-- title handlebars go here -->
              </section>
              <section class="project-image">
                <!-- project image goes here -->
              </section>
              <section class="project-date">
                <!-- project date goes here -->
              </section>
              <section class="project-team">
                <!-- project team goes here -->
              </section>
              <section class="project-github">
                <!-- project github link goes here -->
              </section>
              <section class="project-hosted-site">
                <!-- project hosted site goes here -->
              </section>
              <section class="project updated">
                <!-- project updated date -->
              </section>
              <button type="button" class="btn btn-info">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
